# Data Structures

Data structures are just a way of storing data. Till now we have seen data types: `int`, `String` now we will see how to store and process a combination of these data types.

Types of data structures:

1. Dictionaries
2. Tuples
3. Arrays

**Tuples** and **Arrays** both contain **ordered** sequence of elements(i.e elements can be accessed using index). **Dictionaries** and **Arrays** both are **mutable**

## Dictionaries

In [2]:
# We can intialize dictionary we use "Dict" keyword
phone_book = Dict("Julia Potter" => "234-11135","Harry Cooper" => "189-2233")

Dict{String,String} with 2 entries:
  "Harry Cooper" => "189-2233"
  "Julia Potter" => "234-11135"

In [4]:
# We can add another entry as:
phone_book["Sheldon Nemoy"] = "234-1112"
phone_book

Dict{String,String} with 3 entries:
  "Sheldon Nemoy" => "234-1112"
  "Harry Cooper"  => "189-2233"
  "Julia Potter"  => "234-11135"

In [5]:
# And we can access any element as
phone_book["Julia Potter"]

"234-11135"

In [6]:
# We can use "pop" function to delete the last added key value pair
pop!(phone_book)

"Sheldon Nemoy" => "234-1112"

In [7]:
# And now when we see the dictionary
phone_book

Dict{String,String} with 2 entries:
  "Harry Cooper" => "189-2233"
  "Julia Potter" => "234-11135"

In [8]:
# We can also delete specific key-value pair as follows
pop!(phone_book, "Julia Potter")

"234-11135"

In [9]:
phone_book

Dict{String,String} with 1 entry:
  "Harry Cooper" => "189-2233"

## Tuples
A tuple can be created by enclosing elements between `( )`

In [3]:
people_names = ("Harry Porter", "Sabrina Spellman","Julia Wicker", "Quentin Coldwater")

("Harry Porter", "Sabrina Spellman", "Julia Wicker", "Quentin Coldwater")

In [4]:
people_names[1]

"Harry Porter"

**Note**: Indexing in Julia starts with 1

In [5]:
# Remember tuples are immutable?
people_names[2] = "Nick Scratch"

MethodError: MethodError: no method matching setindex!(::NTuple{4,String}, ::String, ::Int64)

## Array
An array can be created by enclosing elements between `[]`

In [6]:
pets = ["cat","dog","hamster","bunny"]

4-element Array{String,1}:
 "cat"
 "dog"
 "hamster"
 "bunny"

Notice the output of above statement. The first line contains length of array as well as type of elements and dimension of array.

The type of elements in this case is string however an array can store any types of elements.

In [7]:
mix = ["cat",42,'c',2.55]

4-element Array{Any,1}:
   "cat"
 42
   'c'
  2.55

In [10]:
# You can even try
mix_returns = ["mixmix",['s',3455],33,233.55555,mix]

5-element Array{Any,1}:
    "mixmix"
    Any['s', 3455]
  33
 233.55555
    Any["cat", 42, 'c', 2.55]

In [12]:
# Remember array is mutable?
pets[1] = "pheonix"
pets

4-element Array{String,1}:
 "pheonix"
 "dog"
 "hamster"
 "bunny"

We can also add elements by `push!` function and remove by `pop!` functions.

In [15]:
# push! adds new element at the end of array
push!(pets,"giraffe")

5-element Array{String,1}:
 "pheonix"
 "dog"
 "hamster"
 "bunny"
 "giraffe"

In [16]:
pop!(pets)

"giraffe"

### Multi-dimensional arrays

In [17]:
nums = [[1,7,3],[9,4,6,8],[45,5,9]]

3-element Array{Array{Int64,1},1}:
 [1, 7, 3]
 [9, 4, 6, 8]
 [45, 5, 9]

we can also use `rand()` function to create n dimensional array with random values.

In [19]:
#create 2D array7 with 3 rows and 4 columns
rand(3,4)

3Ã—4 Array{Float64,2}:
 0.79139   0.633849   0.476824  0.559499
 0.106785  0.849855   0.125083  0.466247
 0.862508  0.0110167  0.429922  0.905755

In [1]:
#Your memory may not be able to support this :P
rand(100,200,400,900,111,234)

OutOfMemoryError: OutOfMemoryError()