# Data Structures

Types of data structures:

1. Dictionaries
2. Tuples
3. Arrays

**Tuples** and **Arrays** both contain **ordered** sequence of elements(i.e elements can be accessed using index). **Dictionaries** and **Arrays** both are **mutable**

## Dictionaries

In [2]:
# We can intialize dictionary we use "Dict" keyword
phone_book = Dict("Julia Potter" => "234-11135","Harry Cooper" => "189-2233")

Dict{String,String} with 2 entries:
  "Harry Cooper" => "189-2233"
  "Julia Potter" => "234-11135"

In [4]:
# We can add another entry as:
phone_book["Sheldon Nemoy"] = "234-1112"
phone_book

Dict{String,String} with 3 entries:
  "Sheldon Nemoy" => "234-1112"
  "Harry Cooper"  => "189-2233"
  "Julia Potter"  => "234-11135"

In [5]:
# And we can access any element as
phone_book["Julia Potter"]

"234-11135"

In [6]:
# We can use "pop" function to delete the last added key value pair
pop!(phone_book)

"Sheldon Nemoy" => "234-1112"

In [7]:
# And now when we see the dictionary
phone_book

Dict{String,String} with 2 entries:
  "Harry Cooper" => "189-2233"
  "Julia Potter" => "234-11135"

In [8]:
# We can also delete specific key-value pair as follows
pop!(phone_book, "Julia Potter")

"234-11135"

In [9]:
phone_book

Dict{String,String} with 1 entry:
  "Harry Cooper" => "189-2233"